{% extends 'ar/base.html' %}

{% block head %}
    <meta property="og:title" content="الحزب الأبيض اللبناني - انضم إلينا">
    <meta property="og:description" content="">

    <meta name="title" content="الحزب الأبيض اللبناني">
{% endblock %}

{% block body %}
<style media="screen">
    .home{
        margin-right: .5rem;
        margin-left: .5rem;
        padding-right: 1rem !important;
        border-radius: .375rem;
        background: #f6f9fc;
    }
</style>

<div class="container-fluid">
    <!-- Card stats -->
    <div class="row">
        <div class="col-12 py-3">
            <article class="m-auto p-3 bg-default text-card">
                <header class="mt-1" style="display: flex;">
                    <h1 class="tc-title col-8 col-md-10 ar">أهلا بك</h1>
                    <div class="col-auto title-icons-wrapper mr-xl-2">
                        <div class="title-icon">
                            <a href="https://www.facebook.com/sharer/sharer.php?u=example.org" target="_blank" rel="noopener nofollow">
                                <i class="fab fa-facebook-f fa-facebook-color"></i>
                            </a>
                        </div>
                        <div class="title-icon">
                            <a href="https://twitter.com/share?text=التحق بالحزب الأبيض اللبناني.&url=https://www.example.org" target="_blank" rel="noopener nofollow">
                                <i class="fab fa-twitter fa-twitter-color"></i>
                            </a>
                        </div>
                        <div class="title-icon">
                            <a href="https://api.whatsapp.com/send?text=التحق بالحزب الأبيض اللبناني.  www.example.org" target="_blank" rel="noopener nofollow">
                                <i class="fab fa-whatsapp fa-whatsapp-color"></i>
                            </a>
                        </div>
                    </div>
                </header>
                <hr class="tc-hr">

                <div class="rtl ar">
                    <h2 style="color: white;" class="m-auto">الحزب الأبيض اللبناني</h2>
                </div>
                <div class="py-2 tc-text rtl ar">
                    <p>
                        لا بد أن الثورة اللبنانية أعطت الأمل لكل لبناني يتطلع إلى لبنان أفضل. ومع ذلك ، وعلى الرغم من الجهود الشنيعة ، فشلنا. السبب الأساسي لفعلنا ذلك هو الافتقار إلى النظام.
                        إن عدم تنظيم أي حركة سيؤدي إلى الفشل إلى ما لا نهاية. "التنظيم" لا يستلزم مساعدة الحكومات الأجنبية أو الأثرياء. يجب ألا ترتبط "المنظمة" بأشكال هرمية للسلطة. يعني العمل الجماعي بين الأفراد.
                        لا يوجد مصلح ديمقراطي يستخدم العنف كوسيلة للعمل. يجب أن تكون الديمقراطية نفسها سلاحه. تحليل الطيف السياسي في لبنان ، الحزب السياسي هو السبيل الوحيد للوصول إلى السلطة سلميا. من أجل عدم مواءمة الحزب السياسي مع أيديولوجية ، أطلقنا عليه اسم "الحزب الأبيض اللبناني". يُختصر إلى LWP.
                        لكي لا يكون حزب العمال الليبي بائسًا مثل الأحزاب السياسية الأخرى ، يجب إجراء إصلاحات جذرية على طريقة تنظيم حزب العمال الليبي. لشرح كيفية عمل الحزب ، يجب توضيح عدة نقاط.
                    </p>
                </div>

                <div class="rtl ar">
                    <h2 style="color: white;" class="m-auto">لماذا لن تنجح الأحزاب السياسية التقليدية ولا سيما اللبنانية منها؟</h2>
                </div>
                <div class="py-2 tc-text rtl ar">
                    <p>
                        تستند الأحزاب السياسية إلى أن العديد من الأفراد لديهم وجهات نظر سياسية متشابهة. وهو افتراض خاطئ بشكل ملحوظ. شخصان لا يمكن أن يكون لهما آراء سياسية متطابقة ، فماذا عن الآلاف ؟!
                        بغض النظر عن ذلك ، لن يسمح أي حزب سياسي تحت أي ظرف من الظروف بأن يكون لأعضائه تأثير كبير على اتخاذ القرار باستثناء أسئلة "نعم أو لا".
                        الحجج المذكورة أعلاه هي نظرية. لكن القضايا العملية مع الأحزاب السياسية اللبنانية غير سارة أكثر بكثير. كل واحد منهم متهم في وقت ما بالسماح بالتدخل الأجنبي في شؤون الدول. علاوة على ذلك ، فإن رئيس الحزب متهم أيضًا بتفضيل منافعه الشخصية على الوطنية ، في الغالب تحت ضغط خارجي.
                    </p>
                </div>


                <div class="rtl ar">
                    <h2 style="color: white;" class="m-auto">لماذا مناصرة الديمقراطية المباشرة على التمثيل؟</h2>
                </div>
                <div class="py-2 tc-text rtl ar">
                    <p>
                        والجواب البسيط على ذلك هو "هل الغالبية العظمى من اللبنانيين أنصار مجلس النواب اللبناني؟". إذن كيف انتهى بنا المطاف في هذه الكارثة!
                        على الرغم من الهدف الرئيسي للديمقراطية التمثيلية لتقويض دور النخب في المجتمعات الديمقراطية ، إلا أنه من المفارقات أنها زادت من قوتهم. سيتحول أي شكل من أشكال التنظيم الديمقراطي في نهاية المطاف إلى بيروقراطية من أجل الحفاظ على الكفاءة عندما يتجاوز عدد الأعضاء الآلاف.
                        بمعنى آخر ، لماذا النخب هي الوحيدة "المؤهلة" للترشح؟ ذلك لأن نظامنا الديمقراطي تم إنشاؤه بواسطتهم.
                        من هذه القناعات ، نريد أن نعيد القوة للشعب.
                    </p>
                </div>


                <div class="rtl ar">
                    <h2 style="color: white;" class="m-auto">كيف نقوم بتنفيذ الديمقراطية المباشرة؟</h2>
                </div>
                <div class="py-2 tc-text rtl ar">
                    <p>
                        من المدهش استخدام هذا الموقع! المهمة الرئيسية لهذا الحزب هي السماح للشعب بالحكم.
                        تستغرق عملية اتخاذ القرار شهرًا واحدًا لكل 6 قرارات / قوانين / إعلانات يتم اتخاذها. يحق لكل عضو اقتراح قانون (يستخدم القانون كمفهوم واسع يشمل القرارات / القوانين / الإعلانات). بمجرد وصول القوانين المقترحة إلى 6 ، اقتراح الغايات.
                        سيستغرق كل قانون 3 أسابيع للمناقشة. أثناء مناقشة القانون ، يُسمح بتقديم مقترحات التعديل. إذا حصل أي اقتراح تعديل على عدد كبير من الأصوات ، فسيتم تعديل القانون الذي تم نشره فيه وفقًا لذلك.
                        عند انتهاء وقت المناقشة ، سيتم منح أسبوع واحد للتصويت على القانون. إذا حصل القانون على عدد أكبر من الأصوات المؤيدة ثم السلبية ، فسيتم تمريره وسيتم تفعيله.

                    </p>
                </div>

                <div class="rtl ar">
                    <h2 style="color: white;" class="m-auto">ما هي القرارات التي نتخذها بالضبط؟</h2>
                </div>
                <div class="py-2 tc-text rtl ar">
                    <p>
                        متى نصل الى ممثل واحد في البرلمان. سيتم عرض جميع القوانين التي تم إقرارها في البرلمان. ويصوت النواب حسب أصوات أعضاء الحزب.
                        في غضون ذلك ، لا يمكننا اتخاذ أي إجراءات حقيقية. نحن بحاجة لنشر الرسالة وتشجيع المشاركة إلى أقصى حد ممكن.
                        بمجرد أن نصل إلى ألف عضو ، ستبدأ عملية كتابة البيان الرسمي للحزب.
                        بمجرد وصولنا إلى نشطاء الثورة اللبنانية ، يمكننا البدء في تنظيم الثورة ووضع خطط لمستقبلها. سيكون اتخاذ القرارات في الثورة سهلاً إذا شارك الثوار. لن يكون اتخاذ السياسات وإقامة الحملات هو نفسه أبدًا. نتحد وننتصر.
                    </p>
                </div>

                <div class="rtl ar">
                    <h2 style="color: white;" class="m-auto">خاتمة</h2>
                </div>
                <div class="py-2 tc-text rtl ar">
                    <p>
                        كن جزءًا من حركتنا. يمكنك التسجيل وتبادل الأفكار مع الأعضاء الآخرين. يمكنك مساعدتنا على النمو من خلال دعوة الآخرين أو التطوع
                        للقيام بأشياء مختلفة (المتحدث العام ، المؤثر على وسائل التواصل الاجتماعي ، جامع الاشتراكات ، المطور ، جمع التبرعات ، الصحفي ...) للتواصل ، national.debate.co@gmail.com.
                    </p>
                </div>

                <footer class="col-12 custom-card-footer">
                    <div class="row text-muted">
                        <span class="col-6">2020/9/25</span>
                        <span class="col-6" style="text-align: end;">LWP</span>
                    </div>
                </footer>
            </article>
        </div>

        {% for law in laws %}
            <div class="col-md-6 col-12">
                <div class="card card-stats">
                    <!-- Card body -->
                    <div class="card-body">
                        <div class="row">

                          <div class="col-12 status">
                              <span class="category law-category h4">Law</span>
                              {% set state = get_status(law) %}
                              <span class="state h4 {{ state[0] }}">{{ state[1] }}</span>
                          </div>

                            <div class="col-12 my-2">
                                <a class="h2 font-weight-bold p-2 title" href="{{ url_for('laws.law', _id_=law.id) }}">{{ law.title }}</a>
                                <span class="m-3">{{ law.info }}</span>
                            </div>

                            <div class="col-12 custom-card-footer">
                                <hr>
                                <div class="text-muted">
                                    <span class="author">{{ law.author.user_name }}</span>
                                    <span class="date">{{ law.date_posted.strftime('%Y-%m-%d %H:%M') }}</span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
