{% extends 'ar/base.html' %}

{% block body %}

<style media="screen">
    .login{
        margin-right: .5rem;
        margin-left: .5rem;
        padding-right: 1rem !important;
        border-radius: .375rem;
        background: #f6f9fc;
    }
</style>

<div class="container py-5 pt-6">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8 col-xl-5">
            <div class="card bg-secondary border-0 mb-0">
                <div class="card-body px-lg-5 py-lg-5">
                    <div class="mb-4 text-center">
                        <img src="{{ url_for('static', filename='img/brand/favicon.png') }}" alt="">
                    </div>

                    <form role="form" action="#" method="post">
                        {{ login_form.hidden_tag() }}
                        <div class="form-group mb-3">
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="far fa-id-card"></i></span>
                                </div>
                                {{ login_form.membership_id(class="form-control", **{'placeholder': "معرف العضوية"})}}
                            </div>
                            {% for error in login_form.membership_id.errors %}
                                <span class="input-error"> {{error}} </span>
                            {% endfor %}
                        </div>


                        <div class="form-group">
                            <div class="input-group input-group-merge input-group-alternative">
                                <div class="input-group-prepend">
                                    <span class="input-group-text"><i class="fas fa-lock"></i></span>
                                </div>
                                {{ login_form.password(class="form-control", **{'placeholder': "كلمه السر"}) }}
                            </div>
                            {% for error in login_form.password.errors %}
                                <span class="input-error"> {{error}} </span>
                            {% endfor %}

                        </div>


                        <div class="custom-control custom-control-alternative custom-checkbox">
                            {{ login_form.remember(class="custom-control-input") }} <!-- type="checkbox" -->
                            {{ login_form.remember.label(class="custom-control-label text-muted") }}
                        </div>
                        <div class="text-center">
                            {{ login_form.submit(class="btn btn-primary my-4") }}
                        </div>
                    </form>

                </div>
            </div>

            <div class="row mt-3">
                <div class="col-6">
                    <a href="{{ url_for('users.reset_request') }}" class="text-light"><small>Forgot password?</small></a>
                </div>
                <div class="col-6 text-right">
                    <a href="{{ url_for('users.signup') }}" class="text-light"><small>Create new account</small></a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
