{% extends 'base.html' %}

{% block body %}
<section class="bg-text-area">
    <div class="container">
        <div class="row">
            <div class="col-md-12" style="text-align: center;">
                <h3 class="huge-text">User not found</h3>
            </div>
        </div>
    </div>
</section>



<style media="screen">
  .huge-text {
    font-size: 5rem;
    margin-top: 30vh;
    margin-bottom: 50vh;
  }
  h2 {
    font-family: sans-serif;
    font-size: 40px;
    font-weight: 800;
    color: rgb(6, 30, 55)
  }
</style>

{% endblock %}
